langchain
langchain-openai
langchain-community
chromadb==0.5.5
python-dotenv==1.0.1
pandas==2.2.2
pip>=24.0
setuptools>=77.0.0
wheel
tiktoken==0.6.0
streamlit==1.36.0
reportlab==4.2.2
matplotlib==3.9.1
seaborn==0.13.2
langchain-ollama
unstructured[PDF]==0.15.9
numpy
